<html>
head
  title= title
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="/stylesheets/normalize.css")
  link(rel="stylesheet", href="/stylesheets/foundation.css")
  link(rel="stylesheet", href="/less/app.css")
  script(src="/javascripts/vendor/custom.modernizr.js")
  body(style='background: #fff;')
    .row
      .small-12.columns
         .row(style='margin-top: 50px;')
            .small-12.columns
              if postcard.state.isLandscape
                #front-card(style='background: url(/images/backgrounds/#{postcard.background}.jpg);')
                  h2(style='color: #{postcard.frontFontColor}') Greetings from
                  #pc-state(style='width: #{postcard.state.width}px; height: #{postcard.state.height}px; background: url(/images/states/#{postcard.state.img}) no-repeat; margin: 0 auto;')
                    .final-flag(style='background: url(/images/flags/#{postcard.flag.img}.png) no-repeat; background-size: 100%; top: #{postcard.flag.top}; left: #{postcard.flag.left};')
                  h2(style='color: #{postcard.frontFontColor}') #{postcard.city}, #{postcard.state.name}
              else
                #front-card(style='width: 500px; height: 700px; background: url(/images/backgrounds/#{postcard.background}.jpg);')
                  h2(style='color: #{postcard.frontFontColor}') Greetings from
                  #pc-state(style='width: #{postcard.state.width}px; height: #{postcard.state.height}px; background: url(/images/states/#{postcard.state.img}) no-repeat; margin: 0 auto;')
                    .final-flag(style='background: url(/images/flags/#{postcard.flag.img}.png) no-repeat; background-size: 100%; top: #{postcard.flag.top}; left: #{postcard.flag.left};')
                  h2(style='color: #{postcard.frontFontColor}') #{postcard.city}, #{postcard.state.name}
          .row
            .small-12.columns
              #back-card
                #back-img-container
                  img(src='/uploads/#{postcard.id}/#{postcard.backImg}')
                #back-img-message
                  h4(style='color: #{postcard.backFontColor}') #{postcard.backGreeting} from #{postcard.backFamilyName}
          .row

  script(src="/javascripts/vendor/jquery-1.10.2.js")
  script(src="/javascripts/vendor/foundation.min.js")
  script(src="/javascripts/vendor/lodash.js")
  script(src="/javascripts/vendor/moment-with-langs.js")
  script(src="/javascripts/vendor/draggabilly.pkgd.min.js")
  script(src="/javascripts/vendor/jscolor.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/vendor/html2canvas.js")
  script(src="/javascripts/app/utilities.js")
  script(src="/javascripts/app/app.js")

</html>
