<html>
head
  title= title
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="/stylesheets/normalize.css")
  link(rel="stylesheet", href="/stylesheets/foundation.css")
  link(rel="stylesheet", href="/less/app.css")
  link(href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css')
  script(src="/javascripts/vendor/custom.modernizr.js")
  body(style='background: #fff;')
    .row
      .small-12.columns
        #snapshot-container(data-postcard-id=postcard.id)
    .row
      .small-12.columns
         .row(style='margin-top: 50px;')
            .small-12.columns
              if postcard.state.isLandscape
                #front-card(style='width: 500px; height: 357px; background: url(/images/backgrounds/#{postcard.background}.jpg);')
                  h2(style='color: #{postcard.frontFontColor}; font-family: "Damion", cursive; font-size: 50px;') Greetings from
                  #pc-state(style='width: #{postcard.state.width * 0.8}px; height: #{postcard.state.height * 0.8}px; background: url(/images/states/#{postcard.state.img}) no-repeat; margin: 0 auto; background-size: 100%;')
                    .final-flag(style='background: url(/images/flags/#{postcard.flag.img}.png) no-repeat; height: 20px; width: 20px; background-size: 100%; top: #{parseInt((postcard.flag.top).slice(0,-2) * 0.8)}px; left: #{parseInt((postcard.flag.left).slice(0,-2) * 0.8)}px;')
                  h2(style='color: #{postcard.frontFontColor}; font-family: "Damion", cursive; font-size: 50px;') #{postcard.city}, #{postcard.state.name}
              else
                #front-card(style='width: 357px; height: 500px; background: url(/images/backgrounds/#{postcard.background}.jpg);')
                  h2(style='color: #{postcard.frontFontColor};  font-family: "Damion", cursive; font-size: 35px;') Greetings from
                  #pc-state(style='width: #{postcard.state.width * 0.8}px; height: #{postcard.state.height * 0.8}px; background: url(/images/states/#{postcard.state.img}) no-repeat; margin: 0 auto; background-size: 100%;')
                    .final-flag(style='background: url(/images/flags/#{postcard.flag.img}.png) no-repeat; height: 20px; width: 20px; background-size: 100%; top: #{parseInt((postcard.flag.top).slice(0,-2) * 0.8)}px; left: #{parseInt((postcard.flag.left).slice(0,-2) * 0.8)}px;')
                  h2(style='color: #{postcard.frontFontColor}; font-family: "Damion", cursive; font-size: 35px;') #{postcard.city}, #{postcard.state.name}
          .row
            .small-12.columns
              #back-card(style='width: 500px; height: 357px;')
                #back-img-container(style='width: 200px; height: 143px; margin-left: 25px;')
                  img(src='/uploads/#{postcard.id}/#{postcard.backImg}' style='width: 200px; height: 143px;')
                #back-img-message(style='margin-left: 0px; margin-top: 170px;')
                  h4(style='color: #{postcard.backFontColor}; font-size: 16px;') #{postcard.backGreeting} from #{postcard.backFamilyName}
    .row
      .small-4.small-offset-4.columns
  script(src="/javascripts/vendor/jquery-1.10.2.js")
  script(src="/javascripts/vendor/foundation.min.js")
  script(src="/javascripts/vendor/lodash.js")
  script(src="/javascripts/vendor/moment-with-langs.js")
  script(src="/javascripts/vendor/draggabilly.pkgd.min.js")
  script(src="/javascripts/vendor/jscolor.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/vendor/html2canvas.js")
  script(src="/javascripts/app/utilities.js")
  script(src="/javascripts/app/app.js")

</html>
