extends ../template/layout

block content
  if user
    .row
      .small-12.columns
        #container
          h1 SouthernGreetings
          .row
            .small-6.columns
              h4.slogan Seasons Greetings, Southern Style
            .small-6.columns
          .row
            .small-12.columns
              .border-top
          .row
            .small-12.columns
              h2 Postcards You've Designed:
          .row
            .small-4.small-offset-4.columns
              a.button.radius.expand(href='/create' id='create') Create More!
          .row
            .small-12.columns
              #view-cards
                each postcard in postcards
                  .card.border(style='background: url(/images/backgrounds/#{postcard.background}.jpg);' data-postcard-id=postcard.id): a(href='/postcards/#{postcard.id}/complete')
                    .state(style='background: url(/images/states/#{postcard.state.img}) no-repeat; background-size:100%; width: 155px; height: 100px;')
                    p= postcard.city + ', ' + postcard.state.name
                .clear
          .row
            .small-12.columns
              .border-bottom
          .row
            .small-12.columns
              .bottom
  else
    .row
      .small-12.columns
        #container
          h1 SouthernGreetings
          .row
            .small-6.columns
              h4.slogan Seasons Greetings, Southern Style
            .small-6.columns
          .row
            .small-12.columns
              h4.login Sorry, you must be logged in to view your cards!
